---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:26.991637","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"09xc0ElfQQ29ZGDN6CPSNQ","updated_at":"2020-01-05
        13:42:26.991637","url":"https://api.chucknorris.io/jokes/09xc0ElfQQ29ZGDN6CPSNQ","value":"Chuck
        Norris endorsed Ted Cruz for President, thus singlehandedly ending the need
        to hold elections forever..."}'
  recorded_at: Thu, 10 Dec 2020 04:34:46 GMT
recorded_with: VCR 6.0.0
