---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:25.352697","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"eYymdiZOQiuItw6w6jYZFQ","updated_at":"2020-01-05
        13:42:25.352697","url":"https://api.chucknorris.io/jokes/eYymdiZOQiuItw6w6jYZFQ","value":"Chuck
        Norris is only demonic on the inside."}'
  recorded_at: Thu, 10 Dec 2020 04:34:46 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:23.484083","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"S2X6FftcQhqIDNLgyYr_1w","updated_at":"2020-01-05
        13:42:23.484083","url":"https://api.chucknorris.io/jokes/S2X6FftcQhqIDNLgyYr_1w","value":"Chuck
        Norris is Wolverine''s favorite X-Man."}'
  recorded_at: Thu, 10 Dec 2020 04:34:47 GMT
recorded_with: VCR 6.0.0
