---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:29.855523","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"dw4PoOcuQniNQdrj1UZ6gg","updated_at":"2020-01-05
        13:42:29.855523","url":"https://api.chucknorris.io/jokes/dw4PoOcuQniNQdrj1UZ6gg","value":"Outer
        space exists because it''s afraid to be on the same planet with Chuck Norris."}'
  recorded_at: Thu, 10 Dec 2020 00:48:10 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:26.766831","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"frvNReIbSW22fxBxfqkIMg","updated_at":"2020-01-05
        13:42:26.766831","url":"https://api.chucknorris.io/jokes/frvNReIbSW22fxBxfqkIMg","value":"When
        WeeMan joined the cast of Jackass, he was 6''1 1/2\" tall. Then they had him
        try to give Chuck Norris a wedgie."}'
  recorded_at: Thu, 10 Dec 2020 00:48:11 GMT
recorded_with: VCR 6.0.0
