---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:18.823766","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"kscxjliptieuza9q5i5azg","updated_at":"2020-01-05
        13:42:18.823766","url":"https://api.chucknorris.io/jokes/kscxjliptieuza9q5i5azg","value":"TNT
        was originally developed by Chuck Norris to cure indigestion."}'
  recorded_at: Thu, 10 Dec 2020 04:34:49 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:25.628594","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"RnotWthyRKOvWCra3ugTNg","updated_at":"2020-01-05
        13:42:25.628594","url":"https://api.chucknorris.io/jokes/RnotWthyRKOvWCra3ugTNg","value":"If
        Chuck Norris was the messenger, shoot yourself"}'
  recorded_at: Thu, 10 Dec 2020 04:34:50 GMT
recorded_with: VCR 6.0.0
