---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:24.142371","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"Lhv6arXDSkqU39p1p4jxmQ","updated_at":"2020-01-05
        13:42:24.142371","url":"https://api.chucknorris.io/jokes/Lhv6arXDSkqU39p1p4jxmQ","value":"Chuck
        Norris can make Jenny leave the Block."}'
  recorded_at: Thu, 10 Dec 2020 04:34:50 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:28.984661","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"nR8uediuSXS_hEovUcuwGw","updated_at":"2020-01-05
        13:42:28.984661","url":"https://api.chucknorris.io/jokes/nR8uediuSXS_hEovUcuwGw","value":"Chuck
        Norris enjoys big game deep sea fishing. He generally uses a live moose for
        bait."}'
  recorded_at: Thu, 10 Dec 2020 04:34:51 GMT
recorded_with: VCR 6.0.0
