---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:26.194739","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"SQM3bvqRTX-Z1vBbC6T3WQ","updated_at":"2020-01-05
        13:42:26.194739","url":"https://api.chucknorris.io/jokes/SQM3bvqRTX-Z1vBbC6T3WQ","value":"Chuck
        Norris'' toupee came off an orangutan''s ass."}'
  recorded_at: Thu, 10 Dec 2020 00:48:13 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:22.980058","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"V01WBdsgSDKXox9ch45CzA","updated_at":"2020-01-05
        13:42:22.980058","url":"https://api.chucknorris.io/jokes/V01WBdsgSDKXox9ch45CzA","value":"Chuck
        Norris can hear silence"}'
  recorded_at: Thu, 10 Dec 2020 00:48:14 GMT
recorded_with: VCR 6.0.0
