---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:21.455187","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"6Z-qVFijSgi9lxcUHZ3T3Q","updated_at":"2020-01-05
        13:42:21.455187","url":"https://api.chucknorris.io/jokes/6Z-qVFijSgi9lxcUHZ3T3Q","value":"Do
        you know why Diablo 3 delayed over and over again? Because Diablo is too scared
        of Chuck Norris."}'
  recorded_at: Thu, 10 Dec 2020 00:48:12 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:27.496799","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"VElkbWvnTXuUMhdWVpHznw","updated_at":"2020-01-05
        13:42:27.496799","url":"https://api.chucknorris.io/jokes/VElkbWvnTXuUMhdWVpHznw","value":"Chuck
        Norris invented beef jerky by throwing a bull through a chain-link fence."}'
  recorded_at: Thu, 10 Dec 2020 00:48:13 GMT
recorded_with: VCR 6.0.0
