---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:19.576875","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"YAH7zzUTRRuOOIvvZGXAqg","updated_at":"2020-01-05
        13:42:19.576875","url":"https://api.chucknorris.io/jokes/YAH7zzUTRRuOOIvvZGXAqg","value":"Chuck
        Norris doesn''t go hunting.... CHUCK NORRIS GOES KILLING."}'
  recorded_at: Thu, 10 Dec 2020 00:48:14 GMT
recorded_with: VCR 6.0.0
