---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:27.496799","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"OTy1dGlPQmyedDtK6sSK4w","updated_at":"2020-01-05
        13:42:27.496799","url":"https://api.chucknorris.io/jokes/OTy1dGlPQmyedDtK6sSK4w","value":"Chuck
        Norris can make a paraplegic run for their life."}'
  recorded_at: Thu, 10 Dec 2020 04:34:53 GMT
recorded_with: VCR 6.0.0
