---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:28.143137","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"3JVs09L-SSK-Rr63ivg_Qg","updated_at":"2020-01-05
        13:42:28.143137","url":"https://api.chucknorris.io/jokes/3JVs09L-SSK-Rr63ivg_Qg","value":"The
        only question: Does Chuck Norris have to choke a bitch?"}'
  recorded_at: Thu, 10 Dec 2020 00:48:11 GMT
recorded_with: VCR 6.0.0
