---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:30.177068","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"7X_phynxR9ml4DtGf_is1Q","updated_at":"2020-01-05
        13:42:30.177068","url":"https://api.chucknorris.io/jokes/7X_phynxR9ml4DtGf_is1Q","value":"(aka
        dont dis chuck ) It has to be Chuck Norris Chuck norris oops you almost made
        a fatal error Chuck norris cant catch em all Chuck norris didnt forget the
        quiche and he didnt pay for it either Chuck norris doesnt go to morrisons"}'
  recorded_at: Thu, 10 Dec 2020 04:34:48 GMT
recorded_with: VCR 6.0.0
