---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:28.664997","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"10mnaFmrSgWqQdmeQCCaaA","updated_at":"2020-01-05
        13:42:28.664997","url":"https://api.chucknorris.io/jokes/10mnaFmrSgWqQdmeQCCaaA","value":"If
        Chuck Norris ever allowed a sports team to be named after him, that team would
        never lose again...except when Chuck Norris played against it."}'
  recorded_at: Thu, 10 Dec 2020 04:34:48 GMT
recorded_with: VCR 6.0.0
