---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:21.455187","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"_FNvVwQEQ1GMEBbRS1oOQg","updated_at":"2020-01-05
        13:42:21.455187","url":"https://api.chucknorris.io/jokes/_FNvVwQEQ1GMEBbRS1oOQg","value":"When
        Chuck Norris drives through a ghetto neighbourhood, he can make his Chevrolet
        truck appear much more \"hip\" than usual by pressing the \"Swag\" button
        on the dashboard."}'
  recorded_at: Thu, 10 Dec 2020 00:48:11 GMT
recorded_with: VCR 6.0.0
