---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:26.194739","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"CqADpSgWSKCvNtefef_gLA","updated_at":"2020-01-05
        13:42:26.194739","url":"https://api.chucknorris.io/jokes/CqADpSgWSKCvNtefef_gLA","value":"Chuck
        Norris does not return your greeting. Chuck Norris simply stares."}'
  recorded_at: Thu, 10 Dec 2020 00:48:09 GMT
recorded_with: VCR 6.0.0
