---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:22.089095","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"_Lw7nNWwReK2TJHMF6Oupw","updated_at":"2020-01-05
        13:42:22.089095","url":"https://api.chucknorris.io/jokes/_Lw7nNWwReK2TJHMF6Oupw","value":"\"Chuck
        Norris doesnt have to shave, his beard shaves itself.\""}'
  recorded_at: Thu, 10 Dec 2020 04:34:45 GMT
recorded_with: VCR 6.0.0
