---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:19.897976","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"3RUG6tUVQkmDExXQt6mBoA","updated_at":"2020-01-05
        13:42:19.897976","url":"https://api.chucknorris.io/jokes/3RUG6tUVQkmDExXQt6mBoA","value":"Chuck
        Norris DOES have an iron heart!!!!!!!"}'
  recorded_at: Thu, 10 Dec 2020 04:34:51 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:22.089095","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"-sEPrayiQ1WPUEyWlFvS9g","updated_at":"2020-01-05
        13:42:22.089095","url":"https://api.chucknorris.io/jokes/-sEPrayiQ1WPUEyWlFvS9g","value":"Chuck
        Norris likes to take long baths with the guys. No homo."}'
  recorded_at: Thu, 10 Dec 2020 04:34:52 GMT
recorded_with: VCR 6.0.0
