---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["explicit"],"created_at":"2020-01-05 13:42:29.855523","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"SoaKF2cySrWVTeEj4iOD5w","updated_at":"2020-01-05
        13:42:29.855523","url":"https://api.chucknorris.io/jokes/SoaKF2cySrWVTeEj4iOD5w","value":"Chuck
        Norris never made a Porno Movie because His Penis is registered as a deadly
        weapon."}'
  recorded_at: Thu, 10 Dec 2020 04:27:02 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:28.420821","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"o4gmbpgUR4SXY5JJZUTy9w","updated_at":"2020-01-05
        13:42:28.420821","url":"https://api.chucknorris.io/jokes/o4gmbpgUR4SXY5JJZUTy9w","value":"In
        Soviet Russia, Chuck Norris makes joke about you"}'
  recorded_at: Thu, 10 Dec 2020 04:27:03 GMT
recorded_with: VCR 6.0.0
