---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":["money"],"created_at":"2020-01-05 13:42:25.628594","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"EXq1Zi3pTPeLWJvidak70w","updated_at":"2020-05-22
        06:16:41.133769","url":"https://api.chucknorris.io/jokes/EXq1Zi3pTPeLWJvidak70w","value":"Chuck
        Norris loans money to the World Bank."}'
  recorded_at: Thu, 10 Dec 2020 04:27:03 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:27.496799","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"R6h4MndXRx2tjw1nXP7sFQ","updated_at":"2020-01-05
        13:42:27.496799","url":"https://api.chucknorris.io/jokes/R6h4MndXRx2tjw1nXP7sFQ","value":"If
        Chuck Norris was a twilight vampire, he wouldn''t sparkle, he''d blind you
        for life b/c nobody will ever see Chuck Norris as such a travisty"}'
  recorded_at: Thu, 10 Dec 2020 04:27:04 GMT
recorded_with: VCR 6.0.0
