---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:22.980058","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"OXofDvjgTK2YOKlo4G8MXQ","updated_at":"2020-01-05
        13:42:22.980058","url":"https://api.chucknorris.io/jokes/OXofDvjgTK2YOKlo4G8MXQ","value":"Legend
        has it that a weak, sickly 6 year boy named Chuck Norris was thrown into the
        River Styx by a gang of 10 year old bullies. The bullies were never seen or
        heard of again."}'
  recorded_at: Thu, 10 Dec 2020 04:34:52 GMT
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:25.099703","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"wHzUsBIATmePkjf_SYIpuw","updated_at":"2020-01-05
        13:42:25.099703","url":"https://api.chucknorris.io/jokes/wHzUsBIATmePkjf_SYIpuw","value":"When
        Chuck Norris was in middle school, his English teacher assigned an essay:
        \"What is courage?\" Chuck received an A+ for turning in a blank page with
        only his name at the top."}'
  recorded_at: Thu, 10 Dec 2020 04:34:53 GMT
recorded_with: VCR 6.0.0
