---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:28.984661","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"s_akNmy_Rn2Q_mBZllZS6Q","updated_at":"2020-01-05
        13:42:28.984661","url":"https://api.chucknorris.io/jokes/s_akNmy_Rn2Q_mBZllZS6Q","value":"Chuck
        Norris was the Fourth Wiseman. He gave Baby Jesus the gift of Beard. Jesus
        loved it so much the other Wisemen were jealous of his obvious gift favoritism.
        They then used their combined influence to have Chuck Norris omitted from
        the Bible. All three later died mysteriously from roundhouse-kick related
        issues."}'
  recorded_at: Thu, 10 Dec 2020 00:48:15 GMT
recorded_with: VCR 6.0.0
