---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:26.766831","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"XwAvSG6cTl2uOC3wAEWF0g","updated_at":"2020-01-05
        13:42:26.766831","url":"https://api.chucknorris.io/jokes/XwAvSG6cTl2uOC3wAEWF0g","value":"Chuck
        Norris sank the Titanic because it was his nickname."}'
  recorded_at: Thu, 10 Dec 2020 04:34:54 GMT
recorded_with: VCR 6.0.0
