---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:23.240175","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"dmTPGBRqQ0ypn6pbn4pTMQ","updated_at":"2020-01-05
        13:42:23.240175","url":"https://api.chucknorris.io/jokes/dmTPGBRqQ0ypn6pbn4pTMQ","value":"Chuck
        Norris stole Clara''s beef."}'
  recorded_at: Thu, 10 Dec 2020 04:38:00 GMT
recorded_with: VCR 6.0.0
