---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:18.823766","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"oBanalmvRZeyddEvcwl22Q","updated_at":"2020-01-05
        13:42:18.823766","url":"https://api.chucknorris.io/jokes/oBanalmvRZeyddEvcwl22Q","value":"Chuck
        Norris once put a forest fire out by spitting on it."}'
  recorded_at: Thu, 10 Dec 2020 00:48:20 GMT
recorded_with: VCR 6.0.0
