---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/761053?api_key=<viewing_party_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - '0877582f46c0de061a03e2d907c74555bff7e218'
      X-Memc-Age:
      - '7273'
      X-Memc-Expires:
      - '14327'
      Last-Modified:
      - Wed, 09 Dec 2020 20:13:17 GMT
      Etag:
      - W/"4daab068cdd63daecbcd538c2f27fa52"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg","belongs_to_collection":{"id":729322,"name":"Gabriel''s
        Inferno Collection","poster_path":"/LdSn17U6ybhtPJT3S6fTNRni5Y.jpg","backdrop_path":"/hXF55codODfnzTZDExbUbfFmA9y.jpg"},"budget":0,"genres":[],"homepage":"","id":761053,"imdb_id":null,"original_language":"en","original_title":"Gabriel''s
        Inferno Part III","overview":"The final part of the film adaption of the erotic
        romance novel Gabriel''s Inferno written by an anonymous Canadian author under
        the pen name Sylvain Reynard.","popularity":39.347,"poster_path":"/fYtHxTxlhzD4QWfEbrC1rypysSD.jpg","production_companies":[{"id":92153,"logo_path":"/psjvYkjjgAPtS8utnFYDM8t8yi7.png","name":"PassionFlix","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2020-11-19","revenue":0,"runtime":0,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Gabriel''s
        Inferno Part III","video":false,"vote_average":9.2,"vote_count":470}'
  recorded_at: Thu, 10 Dec 2020 04:34:58 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/761053/credits?api_key=<viewing_party_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - d605672bf5606f2859e952e631ef76fb72adf72d
      X-Memc-Age:
      - '14280'
      X-Memc-Expires:
      - '7320'
      Etag:
      - W/"b16818495dc77dc7cc8d921f3105b2ff"
      Last-Modified:
      - Thu, 10 Dec 2020 04:34:57 GMT
    body:
      encoding: UTF-8
      string: '{"id":761053,"cast":[],"crew":[]}'
  recorded_at: Thu, 10 Dec 2020 04:34:58 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/761053/reviews?api_key=<viewing_party_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 8d30d1f91aa7c19e4661eaefe75fe52b04cd603d
      X-Memc-Age:
      - '10686'
      X-Memc-Expires:
      - '10914'
      Etag:
      - W/"8d1eafc5ae7d5fbd9a2740ec98020aeb"
      Last-Modified:
      - Thu, 10 Dec 2020 04:34:57 GMT
    body:
      encoding: UTF-8
      string: '{"id":761053,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 10 Dec 2020 04:34:58 GMT
recorded_with: VCR 6.0.0
