---
http_interactions:
- request:
    method: get
    uri: https://api.chucknorris.io/jokes/random
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[],"created_at":"2020-01-05 13:42:20.841843","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"o3sQ79NDTbCHsTudFNJoXg","updated_at":"2020-01-05
        13:42:20.841843","url":"https://api.chucknorris.io/jokes/o3sQ79NDTbCHsTudFNJoXg","value":"Chuck
        Norris can beat the Dark Souls video game in one play through without dying."}'
  recorded_at: Thu, 10 Dec 2020 04:35:01 GMT
recorded_with: VCR 6.0.0
